<main class="contenedor">
    <form action="/vacantes/editar/{{vacante.url}}"method="post" class="default-form">
        <h3>Informacion General</h3>
        <div class="campo">
            <label >Titulo</label>
            <input type="text" name="titulo" placeholder="EJ: React Developer" value="{{vacante.titulo}}" required>
        </div>
         <div class="campo">
            <label >Empresa</label>
            <input type="text" name="empresa" placeholder="EJ: Faceboock" value="{{vacante.empresa}}" required>
        </div>
         <div class="campo">
            <label >Ubicaccion</label>
            <input type="text" name="ubicaccion" placeholder="EJ: Republica Dominicana" value="{{vacante.ubicaccion}}" required>
        </div>
         <div class="campo">
            <label >Salario (USD)</label>
            <input type="text" name="salario" placeholder="EJ: 500 USD" value="{{vacante.salario}}" required>
        </div>
        <div class="campo">
            <label >Contrato</label>
            <select name="contrato" >
                {{#tipoContrato vacante.contrato}}
                    <option value="" disabled selected>-- Selecciona --</option>
                    <option value="freelance">Freelance</option>
                    <option value="tiempo completo">Completo</option>
                    <option value="por proyecto">Por Proyecto</option>
                    <option value="medio tiempo">Temporal</option>
                 {{/tipoContrato}}
            </select>
        </div>
        <h3>Descripcion Del Puesto</h3>
            <div class="campo descripcion">
                <label >Descripcion</label>
                <input type="hidden" id="x" value="{{{vacante.descripcion}}}" name="descripcion">
                <trix-editor input="x"></trix-editor>
            </div>
         <h3>Conocimiento</h3>
         <ul class="lista-conocimientos">
             {{#seleccionarSkills vacante.skill}}
             {{/seleccionarSkills}}
         </ul>   
            <div class="campo centrar-horizontal">
                <input type="hidden" name="skills" id="skills">
                <input type="submit" value="Guardar Cambios" class="btn btn-azul">
            </div>
    </form>
</main>